@import url(https://fonts.googleapis.com/css?family=Squada+One);

#container{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#menu{
    height: 50px;
    line-height: 50px;
    position: relative;
}

#newGame{
    display: inline-block;
}

#timer{
    position: absolute;
    font-family: 'Squada One', cursive;
    right: 10px;
    top: 0;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: rgb(105, 105, 105);
}

#mines{
    position: absolute;
    font-family: 'Squada One', cursive;
    right: 80px;
    top: 0;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    color: rgb(105, 105, 105);
}

#autoSolve{
    transition: all 1s;

    &.loading{
        width: 50px;
        height: 31px;
    }
}

#won{
    width: 400px;
    margin: 0 0 0 -200px;
}

.ui.dimmer{
    background-color: rgba(0, 0, 0, 0) !important;
}
